nav {
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
  width: 100%;
  padding-left: 55px;
  padding-right: 155px;
  background-color: $black;
  color: $white;

  .nav-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: $font-zilla-slab;
    font-size: 25px;

    h3 {
      font-size: inherit;
      margin-inline: 15px;
      font-family: $font-quicksand;
      margin-bottom: 0;
    }

    a {
      margin-inline: 15px;
      text-decoration: none;
      color: $white;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .nav-right {
    width: 450px;
    // background-color: aqua;
    h1 {
      text-align: center;
      font-size: 40px;
      font-family: $font-quicksand;
      // text-decoration: underline;
    }
  }
}


@media (max-width: 551px) {
  nav {
    padding-left: 30px;
    padding-right: 30px;

    .nav-left {
      align-items: center;
      justify-content: space-between;
      font-size: 20px;
      width: 100%;

      h3 {
        // margin-inline: 0;
        line-height: 25px;
      }
    }
  }
}