// site colors
$light-blue: #4b6cb7;
$dark-blue: #182848;
$dark-green: #1D282E;
$black: #161D25;
$light-gray: #e3e0e7;
// $white: #f7f0f0;
$white: #e0e0e0;

$font-bungee: bungee, sans-serif;
$font-pt-sans: pt-sans, sans-serif;
$font-arial-rounded: arial-rounded-mt-bold, sans-serif;

$font-quicksand: 'Quicksand', sans-serif;
$font-zilla-slab: 'Zilla Slab', serif;